*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 90%;
  margin: auto;
  padding: 25px 5px;
}
nav{
  background-color: #fff;
}
nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links ul{
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.nav-links ul li a{
  text-decoration: none;
  color: #212529;
  font-size: 17px;
  font-weight: 600;
  position: relative;
}
.nav-links ul li a::before{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #e72323;
  transition: width 1s;
}
.nav-links ul li a:hover::before{
  width: 100%;
}
.logo h1{
  color: #212529;
  font-size: 30px;
  font-weight: 700;
}

.nav-icons ul{
  list-style-type: none;
  display: flex;
  gap: 30px;
}

header{
  background-color: #EEE;
  padding: 15px 0px;
}
.header-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.header-img img{
  width: 100%;
}
.header-content h2{
  font-family: "Amatic SC", sans-serif;
  color: #37373F;
  font-weight: 700;
  font-size: 65px;
  text-decoration: none solid rgb(55, 55, 63);
  margin-bottom: 15px;
}
.header-content p{
  color: #4F4F5A;
  margin: 10px 0px;
  font-size: 16px;
}
.header-content button{
  background-color: #e72323;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
}

@media screen  and (max-width:650px){
  nav .container ,
  .nav-links ul{
    flex-direction: column;
    gap: 10px;
  }
  .logo{
    text-align: center;
  }
  .nav-icons ul{
    gap: 10px;
  }
  .header-items{
    flex-direction: column;
  }
  .header-content{
    width: 100%;
    text-align: center;
    order: 0;
  }
  .header-img{
    width: 100%;
    text-align: center;
    order: -1;
  }
  .header-content button{
    margin: 10px 0px;
  }
  
}

@media screen and (min-width:651px)  and (max-width:950px){
  .container{
    width: 90%;
    margin: auto;
    padding: 25px 5px;
  }
  nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .header-img img{
    width: 100%;
    order: 0;
  }
 
}